@font-face{
    src: url(../FONTS/Space_Mono/SpaceMono-Bold.ttf);
    font-family: SpaceMono;
}

*{
    box-sizing: border-box;
}

body{
    padding-left: 10% ;
    padding-right: 1%;
}

h1 {
 font-family: SpaceMono;
 padding-left: 2% ;
 padding-right: 1%;
}
img{
    height: 300px;
    width: 330px;
}
.column{
    float: left;
    width:30%;
    padding: 14px;
}
.row::after{
    content: "";
    display: table;
    clear: both;

}